@inherits LayoutComponentBase
@inject NetVigil.Client.Services.AppState AppState

<div class="page">
    <NavMenu />

    <main style="position: relative; display: flex; flex-direction: column;">
        
        <div style="flex: 1; padding: 2rem; overflow-y: auto;">
            @Body
        </div>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        AppState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        AppState.OnChange -= StateHasChanged;
    }
}