<div class="sidebar">
    <div class="logo-container">
        <div class="logo-text">NET<span class="highlight">VIGIL</span></div>
        <div class="version">v1.0.0 Alpha</div>
    </div>

    <nav class="nav-links">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
            Dashboard
        </NavLink>

        <NavLink class="nav-item" href="settings">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="3"></circle><path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z"></path></svg>
            Settings
        </NavLink>

        <div style="margin-top: auto; padding: 20px;">
            <NavLink href="profile" style="text-decoration:none; color: inherit;">
            <div class="user-profile">
                <div class="avatar">A</div>
                <div>
                    <div style="font-size: 0.9rem; font-weight:bold;">Admin</div>
                    <div style="font-size: 0.7rem; color: #64748b;">SecOps Lead</div>
                </div>
            </div>
            </NavLink>
        </div>
    </nav>
</div>

<style>
    .sidebar {
        width: 260px;
        background-color: var(--bg-sidebar);
        border-right: 1px solid var(--border-color);
        display: flex;
        flex-direction: column;
        height: 100vh;
        flex-shrink: 0; /* Не сжиматься */
    }

    .logo-container {
        padding: 30px;
        border-bottom: 1px solid var(--border-color);
    }

    .logo-text {
        font-size: 1.5rem;
        font-weight: 800;
        letter-spacing: 1px;
        color: #fff;
    }

    .highlight {
        color: var(--accent-green);
    }

    .version {
        font-size: 0.7rem;
        color: var(--text-secondary);
        margin-top: 5px;
        font-family: monospace;
    }

    .nav-links {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 5px;
        flex: 1;
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 12px 20px;
        color: var(--text-secondary);
        text-decoration: none;
        border-radius: 8px;
        transition: all 0.2s;
        font-weight: 500;
    }

        .nav-item:hover {
            background-color: rgba(255,255,255, 0.05);
            color: #fff;
        }

        .nav-item.active {
            background-color: rgba(16, 185, 129, 0.1);
            color: var(--accent-green);
            border: 1px solid rgba(16, 185, 129, 0.1);
        }

    .user-profile {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        background: rgba(255,255,255,0.03);
        border-radius: 8px;
    }

    .avatar {
        width: 32px;
        height: 32px;
        background: var(--accent-blue);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        color: white;
    }
</style>